.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $grey-light-1;
  box-shadow: 0 2rem 6rem rgba($color-black,0.3);
  @include respond(tab-land) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
