@keyframes moveInLeft {
  0% {
    transform: translateX(-20rem);
    opacity: 0; }
  80% {
    transform: translateX(2rem);
    opacity: 0.4; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(20rem);
    opacity: 0; }
  80% {
    transform: translateX(-2rem);
    opacity: 0.4; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInTop {
  0% {
    transform: translateY(5rem);
    opacity: 0.2; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 3rem;
  color: #eee; }

.heading-primary {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 2rem;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  text-transform: uppercase; }

.heading-tertiary {
  color: #8e8b82;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragrapg {
  color: #8e8b82;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem; }

.header-section__intro__title {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.header-section__intro__subtitle {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.btn:link, .btn:visited {
  font-size: 1.5rem;
  font-weight: 700;
  color: #eee;
  text-align: center;
  word-spacing: 0.3rem; }

.section-about__title {
  background-image: linear-gradient(to right, rgba(247, 191, 92, 0.8), rgba(148, 96, 5, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-out; }
  .section-about__title:hover {
    transform: skewY(6deg) skewX(6deg) scale(1.1); }

.section-about__subtitle {
  text-align: left; }

.section-about__info {
  text-align: left; }

.section-feature {
  text-align: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .section-feature__title {
    transition: all 0.2s ease-out; }
    .section-feature__title:hover {
      transform: skewY(6deg) skewX(6deg) scale(1.1); }

.section-items__title {
  background-image: linear-gradient(to right, rgba(247, 191, 92, 0.8), rgba(148, 96, 5, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out; }
  .section-items__title:hover {
    transform: skewY(6deg) skewX(6deg) scale(1.1); }

.u-margin-small {
  margin-bottom: 2rem; }

.u-margin-medium {
  margin-bottom: 4rem; }

.u-margin-large {
  margin-bottom: 6rem; }

.u-margin-large-8 {
  margin-bottom: 8rem !important; }

.u-margin-button {
  margin-top: 2rem; }

.u-text-align-left {
  text-align: left; }

.u-text-align-center {
  text-align: center; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.5rem 2.5rem;
  position: relative;
  transition: all 0.4s ease-out;
  animation-name: moveInTop;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5); }

.btn--header {
  background-image: linear-gradient(to right, #f09e0e, #946005); }
  .btn--header::after {
    background-image: linear-gradient(to right, #f09e0e, #946005); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s ease-out; }

.about-button:link, .about-button:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #f7bf5c, #f09e0e);
  -webkit-background-clip: text;
  color: transparent;
  padding: 1rem;
  border-bottom: 1px solid #f09e0e;
  transition: all 0.2s ease-out; }

.about-button:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2); }

.about-button:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.2); }

.btn-cards:link, .btn-cards:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e6a157;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(to right, rgba(230, 161, 87, 0.4), rgba(235, 130, 66, 0.4)); }

.btn-cards::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s ease-out;
  background-image: linear-gradient(to right, rgba(230, 161, 87, 0.4), rgba(235, 130, 66, 0.4)); }

.btn-cards:hover .btn-cards::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0; }

.cards {
  perspective: 150rem;
  color: black;
  position: relative;
  height: 48rem; }
  .cards__side {
    height: 48rem;
    transition: all 0.4s ease-out;
    position: absolute;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2); }
    .cards__side--front {
      background-color: #fff; }
    .cards__side--back {
      transform: rotateY(180deg); }
      .cards__side--back__title {
        color: #eb8242;
        margin: 15rem auto;
        font-size: 4rem; }
  .cards:hover .cards__side--front {
    transform: rotateY(-180deg); }
  .cards:hover .cards__side--back {
    transform: rotateY(0deg); }
  .cards__pictures {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .cards__pictures--1 {
      background-image: linear-gradient(to right bottom, rgba(230, 161, 87, 0.4), rgba(235, 130, 66, 0.4)), url("../images/cards-latte.jpg"); }
    .cards__pictures--2 {
      background-image: linear-gradient(to right bottom, rgba(230, 161, 87, 0.4), rgba(235, 130, 66, 0.4)), url("../images/cards-iced-tea.jpg"); }
    .cards__pictures--3 {
      background-image: linear-gradient(to right bottom, rgba(230, 161, 87, 0.4), rgba(235, 130, 66, 0.4)), url("../images/cards-espresso.jpg"); }
  .cards__title {
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 40%;
    color: #fff; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 60%;
    outline-offset: 1rem;
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 10;
    transition: all 0.2s ease-out; }
    .composition__photo--1 {
      top: -1rem;
      left: 0; }
    .composition__photo--2 {
      top: 4rem;
      right: 0; }
    .composition__photo--3 {
      top: 12rem;
      left: 5rem; }
    .composition__photo:hover {
      outline: 0.8rem solid #946005;
      z-index: 20;
      transform: scale(1.1);
      box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.4); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.85); }

.feature-box {
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.4);
  padding: 5rem 2rem;
  transition: all 0.4s ease-out; }
  .feature-box__image {
    width: 25%; }
  .feature-box:hover {
    transform: translateY(-2rem); }

.stories {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
  padding: 7rem;
  overflow: hidden;
  transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.6); }
  .stories__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    position: relative;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-2rem);
    position: relative; }
  .stories__image {
    height: 100%;
    transform: scale(1.4);
    transition: all 0.4s; }
  .stories__text {
    transform: skewX(12deg); }
  .stories__caption {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    opacity: 0;
    transition: all 0.4s; }
  .stories:hover .stories__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .stories:hover .stories__image {
    transform: scale(1.1);
    filter: blur(0.2rem) brightness(70%); }

.bg-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5; }
  .bg-video__content {
    object-fit: cover;
    height: 100%; }

.row {
  max-width: 110rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }

.col-1-of-2 {
  width: calc((100% - 4rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3); }

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 4rem) / 3 + 4rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4); }

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 4rem) / 4 + 4rem); }

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 4rem) / 4 + 2 * 4rem); }

.header-section {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(247, 191, 92, 0.2), rgba(148, 96, 5, 0.2)), url("../images/bg-desktop-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100 0, 100 85%, 0 100);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }
  .header-section__logobox {
    position: absolute;
    top: 0.5rem;
    left: 2rem; }
    .header-section__logobox__logo {
      height: 12rem; }
  .header-section__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  padding: 20rem;
  margin-top: -10rem;
  text-align: center; }

.section-feature {
  padding: 17rem;
  background-image: linear-gradient(to right bottom, rgba(247, 191, 92, 0.2), rgba(148, 96, 5, 0.2)), url("../images/bg-desktop-header_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -12rem;
  transform: skewY(-5deg); }
  .section-feature > * {
    transform: skewY(5deg); }

.section-items {
  padding: 20rem;
  margin-top: -10rem;
  text-align: center; }

.section-stories {
  padding: 10rem 0;
  position: relative;
  overflow: hidden; }
