.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    padding: 1.5rem 2.5rem;
    position: relative;
    transition: all 0.4s ease-out;
    animation-name: moveInTop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba($color-black,0.5);

    &::after {
      transform: scaleX(1.5) scaleY(1.7);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1.5rem rgba($color-black,0.5);
  }

  &--header {
    background-image: linear-gradient(to right, $color_primary,$color_primary_dark);

    &::after {
      background-image: linear-gradient(to right, $color_primary,$color_primary_dark);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s ease-out;
  }
}

.about-button {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color_primary_light,$color_primary);
    -webkit-background-clip: text;
    color: transparent;
    padding: 1rem;
    border-bottom: 1px solid $color_primary;
    transition: all 0.2s ease-out;
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.2rem 2rem rgba($color-black,0.2);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.1rem 1.5rem rgba($color-black,0.2);
  }
}

.btn-cards {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: $color-white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $cards-gradient-color-light;
    transition: all 0.2s ease-out;
  }
}
