.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 60%;
    outline-offset: 1rem;
    box-shadow: 0 0.1rem 1.5rem rgba($color-black,0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 10;
    transition: all 0.2s ease-out;

    &--1 {
      top: -1rem;
      left: 0;
    }

    &--2 {
      top: 4rem;
      right: 0;
    }

    &--3 {
      top: 12rem;
      left: 5rem;
    }

    &:hover {
      outline: 0.8rem solid $color_primary_dark;
      z-index: 20;
      transform: scale(1.1);
      box-shadow: 0 0.2rem 2rem rgba($color-black,0.4);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.85);
  }
}
