$color_primary_dark: #946005;
$color_primary_light: #f7bf5c;
$color_primary: #f09e0e;


//typography color

$color_text_primary: #eee;


// shadow color or black color

$color-black: #000;


//grid vertical and horizontal space

$grid-vertical : 4rem;
$grid-horizontal: 2rem;

// div background color

$div-color: #f0ece3;
