$color_primary_dark: #946005;
$color_primary_light: #f7bf5c;
$color_primary: #f09e0e;


//typography color
$color_text_primary: #eee;
$color-about-gery-1: #f7f7f7;
$color-grey-dark: #333;
$color-form-text-color: #838383;
$color_text_secondary: #8e8b82;


// shadow color or black color white
$color-black: #000;
$color-white: #fff;


//grid vertical and horizontal space
$grid-vertical: 4rem;
$grid-horizontal: 4rem;


// div background color
$div-color: #e6e7e8;


//cards gradient $color_text_secondary
$cards-gradient-color-light: #e6a157;
$cards-gradient-color-dark: #eb8242;


// booking fields color
$color-orange: #ff4301;
$color-green: #b6eb7a;
