.search {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    width: 90%;
    border: none;
    border-radius: 50px;
    background-color: $grey-light-2;
    padding: 1rem;
    margin-right: -3rem;
    transition: all 0.2s;

    &::-webkit-input-placeholder {
      font-size: inherit;
      font-weight: 100;
      color: $grey-dark-3;
    }
  }

  &__box:focus {
    outline: none;
    width: 100%;
  }

  &__button {
    border: none;
    background-color: $grey-light-2;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(0.3rem);
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $grey-dark-2;
  }
}
