.shoes-details {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey-light-4;

  &__stars {
    margin-right: auto;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
  }

  &__price {}

  &__vote-box {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    background-color: $color-primary;
  }

  &__vote {
    font-size: 2.25rem;
    color: $color-white;
  }

  &__vote-no {
    color: $color-white;
    margin-top: -1rem;
  }
}
