body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 3rem;
  color: $color_text_primary;
}

.heading-primary {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 2rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

.heading-tertiary {
  color: $color_text_secondary;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragrapg {
  color: $color_text_secondary;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.header-section__intro {
  &__title {
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}

.btn {
  &:link,
  &:visited {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color_text_primary;
    text-align: center;
    word-spacing: 0.3rem;
  }
}

.section-about {
  &__title {
    background-image: linear-gradient(to right,rgba($color_primary_light,0.8),rgba($color_primary_dark,0.8));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0.5rem 2rem rgba($color-black,0.2);
    transition: transform 0.2s ease-out;

    &:hover {
      @include heading-skew;
    }
  }

  &__subtitle {
    text-align: left;
  }

  &__info {
    text-align: left;
  }
}

.section-feature {
  text-align: center;
  text-shadow: 0 0.5rem 2rem rgba($color-black,0.2);

  &__title {
    transition: all 0.2s ease-out;

    &:hover {
      @include heading-skew;
    }
  }
}

.section-items {
  &__title {
    background-image: linear-gradient(to right,rgba($color_primary_light,0.8),rgba($color_primary_dark,0.8));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0.5rem 2rem rgba($color-black,0.2);
    transition: all 0.2s ease-out;

    &:hover {
      @include heading-skew;
    }
  }
}
