// small margins between text button,paragrapg etc

.u-margin-small {
  margin-bottom: 2rem;
}
// medium margins to add between boxes inside the div

.u-margin-medium {
  margin-bottom: 4rem;
}
// large margin to add between two div

.u-margin-large {
  margin-bottom: 6rem;
}

.u-margin-large-8 {
  margin-bottom: 8rem !important;
}
// button margin from text

.u-margin-button {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 5rem;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-center {
  text-align: center;
}
